<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCW_1i1SGhDys5R8mkIuRcDht7NsaWTd24</string>
	<key>GCM_SENDER_ID</key>
	<string>720599880060</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.push.pushApp</string>
	<key>PROJECT_ID</key>
	<string>fcm-push-learn</string>
	<key>STORAGE_BUCKET</key>
	<string>fcm-push-learn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:720599880060:ios:30dec6dee6d659dacd94f9</string>
</dict>
</plist>